/* FOOTER */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 200 !important;
}

.main-sidebar {
    overflow-x: hidden;
}

.content-wrapper {
    padding-bottom: 50px; // FIX footer space
}

.main-header {
    .auth-options {
        right: 2em;
        position: absolute;
        a {
            text-decoration: none;
            color: inherit;
            font-size: 1.1rem;
            margin-left: 20px;
        }
    }
}

.home {
    h1 {
        margin-bottom: 50px;
    }
    p {
        font-size: 1.5rem;
    }
}