.promo-container {
    min-height: 180px; 
    .promo-img {
        img {
            height: 160px;
            width: auto;
            margin-top: 10px
        }
    }
    .promo-redeem {
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .promo-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .promo-redeem:hover {
        background-color: lightblue;
        cursor: pointer;
    }
}
.modal-content {
    width: 800px;   
}
.modal-body {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}