.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.sidebar{
    .user-name {
        color: white !important;
    }
}
.nav-sidebar {
    .router-link-exact-active {
        background-color: #3f51b5;
        color:white !important;
    }
}

ul.nav.nav-treeview>.nav-item{
    padding-left: 20px;
    a{
        text-overflow: ellipsis;
    }
}
