<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="row">
                    <div class="col-sm-7 col-xs-12">
                        <h2>Cupones a canjear</h2>
                        <table v-if="unredeemed.length > 0" class="table">
                            <thead>
                                <tr>
                                    <th>Promo</th>
                                    <th>Código</th>
                                    <th>Canjear</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="coupon in unredeemed" v-bind:key="coupon.id">
                                    <td>{{coupon.promo.name}}</td>
                                    <td class="ellipsis">{{coupon.code}}</td>
                                    <td><button class="btn btn-primary" v-on:click="validate(coupon.id)">Canjear</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <p v-else>Actualmente no tienes ningún cupón por canjear</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 col-xs-12">
                        <h2>Cupones canjeados</h2>
                        <table v-if="redeemed.length > 0" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Promo</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Canjear</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="coupon in redeemed" v-bind:key="coupon.id">
                                    <td>{{coupon.promo.name}}</td>
                                    <td class="ellipsis">{{coupon.code}}</td>
                                    <td>Canjeado</td>
                                </tr>
                            </tbody>
                        </table>
                        <p v-else>Actualmente no tienes ningún cupón canjeado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                redeemed: [],
                unredeemed: []
            }
        },
        methods: {
            getCoupons() {
                axios.get('/api/coupon').then(response => {
                    var coupons = response.data;
                    this.redeemed = coupons.filter(coupon => coupon.redeemed == 1);
                    this.unredeemed = coupons.filter(coupon => coupon.redeemed == 0);
                })
                .catch(error => {
                    toast({
                        type: 'error',
                        title: 'Error, prueba más tarde!'
                    })
                });
            },
            validate(id) {
                axios.post('/api/validateCoupon', {id: id}).then(response => {
                    if(response.data.success){
                        this.getCoupons();
                        toast({
                            type: 'success',
                            title: 'Cupón canjeado con éxito!'
                        })
                    }
                })
                .catch(error => {
                    toast({
                        type: 'error',
                        title: 'Error, prueba más tarde!'
                    })
                });
            }
        },
        mounted() {
            this.getCoupons();
        }
    }
</script>