<template>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xs-12 mt-3 home">
                    <h1>CouponKing, ahorra de manera inteligente!</h1>
                    <p>Para poder disfrutar de la aplicación, simplemente accede a la sección de Ofertas -> Promociones y selecciona las ofertas que más te interesen!</p>
                    <p>Una vez obtenido el cupón, accede a la sección Mis cupones para poder validarlos!</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            
        }
    }
</script>