<template>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h1>Promociones disponibles</h1>
            </div>
            <div v-for="promo in promos" v-bind:key="promo.id" class="col-xs-12 col-md-6 col-xl-4 card promo-container">
                <div class="row">
                    <div class="col-4 promo-img">
                        <img :src="'/img/' + promo.image" alt="Promo image">
                    </div>
                    <div class="col-6">
                        <h3 class="promo-title mt-2">{{promo.name}}</h3>
                        <p class="promo-description">{{promo.description}}</p>
                    </div>
                    <div class="col-2 promo-redeem" v-on:click="openModal(promo)">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-promo" tabindex="-1" role="dialog" aria-labelledby="getPromo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="this.coupon == null" class="modal-title" id="getPromo">Obtenga su cupon!</h5>
                    <h5 v-else class="modal-title" id="getPromo">Aquí tiene su cupon!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button v-if="this.coupon === null" class="btn btn-primary float-center" v-on:click="newCoupon">Mostrar cupón!</button>
                    <span v-else>{{coupon.code}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data(){
            return {
                promos: [],
                coupon: null,
                promo: null
            }
        },
        methods: {
            getPromos() {
                axios.get('/api/promo').then(response => {
                    this.promos = response.data;
                })
                .catch(error => {
                    toast({
                        type: 'error',
                        title: 'Error, prueba más tarde!'
                    })
                });
            },
            openModal(promo) {
                var user_id = $('#user-id').val();
                console.log(promo.id);
                this.promo = promo;
                axios.post('/api/getCouponPromo', {user_id: user_id, promo_id: promo.id}).then(response => {
                    console.log(response.data);
                    if(response.data.success){
                        this.coupon = response.data.coupon;
                        $('#modal-promo').modal('show');
                    } else{
                    }
                })
                .catch(error => {
                    toast({
                        type: 'error',
                        title: 'Error, prueba más tarde!'
                    })
                });

            },
            newCoupon() {
                var user_id = $('#user-id').val();
                if (user_id <= 0){
                    toast({
                        type: 'warning',
                        title: 'Regístrate para poder disfrutar del cupón!'
                    })
                }else {
                    axios.post('api/coupon', {user_id: user_id, promo_id: this.promo.id}).then(response => {
                        if(response.data.success){
                            this.coupon = response.data.coupon;
                            toast({
                                type: 'success',
                                title: 'Cupón creado correctamente!'
                            })
                        } else {
                            toast({
                                type: 'error',
                                title: 'Error, prueba más tarde!'
                            })
                        }
                    })
                    .catch(error => {
                        toast({
                            type: 'error',
                            title: 'Error, prueba más tarde!'
                        })
                    });
                }
            },
            getCoupon(promo_id){
                var user_id = $('#user-id').val();
                axios.post('/api/getCouponPromo', {user_id: user_id, promo_id: promo_id}).then(response => {
                    this.coupon = response.data;
                })
                .catch(error => {
                    toast({
                        type: 'error',
                        title: 'Error, prueba más tarde!'
                    })
                });
            }
        },
        mounted() {
            this.getPromos();
        }
    }
</script>